*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100%;
    overflow-y: hidden;
    margin-top: 14%;
  }

  .wrapper{
    max-width: 100%;
    max-height: 100%;
    margin-left: 5%;
  }
  
  .intro__title{
    font-size: 50px;
    line-height: 60px;
    color: #097cef;
    text-shadow: 0px 4px 0px #00000000;
    margin-bottom: 0px;
  }
  .intro__subtitle{
    font-size: 35px;
    line-height: 45px;
    color: #097cef;
    text-shadow: 0px 4px 0px #00000000;
    margin-top: 0.5%;
    margin-bottom: 100px;
  }

  .intro__subtitle1{
    font-size: 35px;
    line-height: 45px;
    color: #097cef;
    text-shadow: 0px 4px 0px #00000000;
    margin-bottom: 2%;
  }

  .search-form-submit{
    margin-right: 1.5%;
    padding: 15px 55px;
    font-size: 25px;
    line-height: 30px;
    text-shadow: 0px 4px 0px #00000000;
    color: #ef6d09;
    background: #0f48ce;
    border-radius: 15px;
  }